/* .select_box {
    background-color:bisque;
    height: 54px;
    font-size: 14px;
}

option {
    height: 10px;
} */


select {
    -webkit-appearance: listbox;
}
select, input {
    width: 100%;
    height: 40px;
    line-height:40px;
    border: 1px solid #999;
    border-radius: 6px;
    margin-bottom:10px;
}

/* @media only screen and (max-width: 1000px) {
    .select_box 
    {
        background-color: blue;
        width: 200px;
        size: "3";
    }   
} */