.select_box {
    background-color: aqua;
    height: 54px;
    font-size: 14px;
}

option {
    height: 12px;
}

/* @media only screen and (max-width: 1000px) {
    .select_box 
    {
        background-color: blue;
        width: 200px;
        size: "3";
    }   
} */